*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html
{
    background:#fff;
    text-rendering:optimizeLegibility;
    font-family: 'Vollkorn SC', 'Arial', serif;
    font-weight: 400;
    font-size: 20px;
    color:#555;
    
}